<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    namespace="com.example.travelly"> <!-- Use namespace instead of package -->

    <!-- Permissions should be declared here, not inside <application> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <!-- Add other permissions here -->
    
    <!-- Permission for notifications -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:label="travelly"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Notification configuration for Android -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Make sure you add the necessary notification channel if targeting Android 8.0 (API level 26+) -->
        <service android:name="com.dexterous.flutterlocalnotifications.services.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <!-- Add the notification channel configuration for Android 8.0 and above -->
        <meta-data
            android:name="com.dexterous.flutterlocalnotifications.CHANNEL_ID"
            android:value="default_channel" />

        <meta-data
             android:name="com.google.firebase.API_KEY"
                android:value="AIzaSyB8sSCVUxRyxQS4d_RyrVAlMFu5UbMuuBk"/>


    </application>

    <!-- Additional configuration such as <queries> should be placed here -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
